select {
	width: 95%;
	height: 45px;
	line-height: 45px;
    margin-top: 2%;
	padding: 0 1%;
    border-color: white;
	border-radius: 3px;
	background: #fff;
	color: #666666;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	font-weight: 400;
	transition: .3s ease all;
    outline: none;
}

.selectCorrect {
    border: 3px solid #568e11;
}