<label for="country">País de residencia</label>
<select name="country" (change)="onChange()" class="{{selectCorrect}}" [(ngModel)]='countryContent'>
    <option *ngFor='let country of countries' value={{country}}>{{country}}</option>
</select>

