<div class="form form_btn-send">
    <button type="submit" class="form_btn" [disabled]="buttonStatus" (click)="onClick($event)">¡Quiero ser la primera en comprar!</button>
    <p class="form_success" *ngIf='show'>¡Perfecto, te avisaremos la primera!</p>
</div>