* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Raleway', sans-serif;
	color: #0b0b0b;
	font-size: 17px;
	font-weight: 400;
}

.background-image {
    min-height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
	font-family: 'Lobster Two', cursive;
	font-size: 60px;
	color: darkgreen;
	padding: 2% 0%;
    margin: 0 auto;
}

h1,
h6 {
	text-align: center;
}

h6 {
	padding: 1% 0%;
}

p {
	max-width: 800px;
	width: 80%;
	margin: 0 auto;
}