input {
    width: 92%;
	height: 45px;
	line-height: 45px;
    margin-top: 2%;
	padding: 0 1%;
	background: #fff;
	color: #666666;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	font-weight: 400;
    border: 3px transparent;
    border-radius: 3px;
	transition: .3s ease all;
}

input:focus{
    outline: none;
}

.mailConditionOk {
    border: 3px solid #568e11;
    outline: none;
}

.mailConditionKO {
    border: 3px solid #d11111;
    outline: none;
}