<div class="background-image" [ngStyle]="{backgroundImage: 'url(.././assets/image_plants.png)'}">
    <h1>{{title}}</h1>
    <p>{{pinfo}}</p>
    <form action="" class="form">
        <app-mail (mailContentEvent)='getMailContent($event)'></app-mail>
        <app-country (countryContentEvent)="getCountryContent($event)"></app-country>
        <app-checkbox (checkboxContentEvent)="getCheckboxContent($event)"></app-checkbox>
        <app-submit (sendContentEvent)="getClickButton()" [buttonStatus]="buttonStatus"></app-submit>
    </form>
    <h6>&#169; {{credits}}</h6>
</div>